@import url('https://fonts.googleapis.com/css2?family=Armata&family=Gochi+Hand&family=Grandstander:ital,wght@1,200&family=Reenie+Beanie&display=swap');

body {
    background-color: #dcf0ff;
    overflow-x: hidden;

}


.header-wrapper {
    display: block;
    background-color: #4eb9ffcc;
}

.header-wrapper-inside {
    position: relative;
    max-width: 1280px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
}


.header-wrapper-inside-left .header-wrapper-inside-right {
    display: flex;
    align-items: center;
}

.header-wrapper-inside-left {
    display: flex;
    justify-content: flex-start;

}

/*logo image in navbar*/
.header-wrapper-inside-left img {
    height: 80px;
    width: auto;
}


.header-wrapper-inside-right {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.header-wrapper-inside-right form {
    width: 100%;
}

.search-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

.search-box {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 500px;
    border: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    flex-wrap: nowrap;
}

.search-box span {
    width: 90%;
}

#searchField, .tt-hint {
    display: block;
    border: 0;
    border-radius: 25px 0 0 25px;
    width: 100%;
    height: 55px;
}

.search-box button {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.temperature-switch {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    color: #fff;
    justify-content: flex-end;
}

.temperature-switch span {
    font-size: 1.875rem;
    padding: 0 6px;
    border-right: 1px solid #fff;
    width: 45px;
}

.dropdown {
    font-size: 1.1em;
    padding: 0 6px;
    position: relative;
    display: inline-block;
}

.dropdown i:hover {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 30px;
    left: -60px;
    color: black;
    background-color: #f9f9f9;
    min-width: 95px;
    border-radius: 25px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 10px 10px;
    z-index: 1;
}

.show-dropdown-content {
    display: block;
}

/*hidden search label*/
.search-label-visuallyHidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

/*-------------------*/
#main {
    margin-top: 5px;
    padding: 0;

}


#toDoThings {
    width: 100%;
    background-color: #97a1b5;
    text-align: center;
    vertical-align: center;
    line-height: 25px;
    text-transform: uppercase;
}

#toDoThings:hover {
    cursor: pointer;
}


.secondaryColor {
    background-color: rgba(77, 165, 239, 0.5);
    border: 1px solid black;
    width: 100%;
    height: 50px;
    padding-top: 10px;
}


.mainColor {
    background-color: rgba(255, 140, 0, 1);
    width: 100%;
    height: 50px;
    border: 1px solid black;
    vertical-align: middle;
    display: inline-block;
    padding-top: 10px;
}


#restaurants:hover, #entertainment:hover, #hotels:hover {
    background-color: rgba(40, 63, 112, 1);
    border: 1px solid black;
    color: white;
}

/**/


/*Text placeholder*/
#textPlaceHolder {
    height: 30px;
    display: inline-block;
    text-align: center;
    padding-top: 3px;
    text-transform: uppercase;
    background-color: #7b9dbe;
    border: 1px solid #000000;
}

#textPlaceHolder p {
    font-size: 16px;
}


.make-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Search button----*/

.navbar-brand {
    left: 2%;
}


.msg {
    position: relative;
    display: block;
    top: -40px;
    height: 20px;
    color: #b10000;
    font-size: 1.3em;
    font-weight: 600;
    padding-top: 5px;
}

.msg span {
    display: inline-block;

}

/*row under navbar*/
.search-div {
    background-color: #6ac4ff;
    height: 52px;
    border-top: 1px solid #68768236;
}

/*display city under search */
#current-city {
    max-width: 1280px;
    margin: 0 auto;
    padding: 6px 30px;
    height: 40px;
}

#current-city span {
    display: inline-block;
}

.ribbon-weather-icon {
    height: 1.8em;
    width: auto;
}

#temp-c, #temp-f {
    display: inline-block;
    text-align: center;
    vertical-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-top: 2px;
}


#temp-c span, #temp-f span {
    font-size: 1em;
    margin-left: -2px;
    padding-right: 10px;
}


.switch-base-color {
    background-color: #c9cdd6;
}

.switch-highlight {
    background-color: rgba(255, 140, 0, 1);
}

#temp-c {
    border: 1px solid black;

}

#temp-f {
    margin-left: 6px;
    border: 1px solid black;
}


#temp-c:hover, #temp-f:hover {
    cursor: pointer;
}


#dropdownMenuButton {
    margin-top: 20px;
}

.dropdown-menu {
    left: -90px;
    min-width: 8rem;
}

.dropdown-item {
    padding: .1rem .4rem;
    text-align: center;
}


.hide {
    display: none;
}


#info-text {
    padding-top: 20px;
    height: 150px;
    width: 100%;
    background-color: rgba(224, 227, 255, 0.27);
}

#info-text:before {
    content: "";
    position: absolute;
    top: 88px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 800px;
    width: auto;
    background-size: cover;
    background: url("../img/78786.png") repeat-x center center;
    opacity: 0.17;
}

#info-text p {
    font-family: "sans-serif";
    font-size: 2.8em;
    opacity: unset !important;
    color: #211187;
    text-shadow: 5px 5px #bed5e8;
}

/*--weather section---*/

#weather {
    background-color: #a4cced12;
    width: 100%;
    border-left: 1px solid black;
}

#weather ul {
    list-style: none;
}

.ajax-section {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
    width: 100%;
    height: 550px;

}

.ajax-section .cities {
    position: absolute;
    padding: 0.8vh 1%;
    margin-bottom: 0;
    left: 10%;
    top: 5%;
    width: 80%;
    height: 72%;
}

.ajax-section .city {
    padding: 1vh 6%;
    border-radius: 20px;
    text-align: center;
    background: #ffffff70;
    color: #53627c;
    height: 80%;
    box-shadow: 8px 8px #7b767645;
    border: 2px solid;
}


/*weather footer--------------------------*/
.ajax-section figcaption {
    margin-top: 18px;
    align-content: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

/*temperature digits----------------*/
.ajax-section .city-temp {
    font-size: 3rem;
    font-weight: bold;
    color: #1e2432;
}

/*country text*/
.ajax-section .city sup {
    font-size: 0.5em;
}

/*country icon*/
.ajax-section .city-name sup {
    padding: 0.05em 0.4em;
    border-radius: 30px;
    color: #fff;
    background: #ff8c00;
}

.ajax-section .city-icon {
    width: 70px;
    height: auto;
    overflow: hidden;
    background-color: #2121de69;
    border-radius: 50%;
}

/*typeahead --------*/

.typeahead-wrapper {
    display: block;
    margin: 50px 0;
}

.tt-menu {
    background-color: #97a1b5;
    border: 1px solid #000;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tt-dropdown-menu {
    background-color: #97a1b5;
    border: 1px solid #000;
}

.tt-suggestion.tt-cursor {
    background-color: #7d7f85;
    border: 1px solid #000;
}

.tt-dropdown-menu :hover {
    background-color: #7d7f85;
    border: 1px solid #000;
}


/*news section----------------------*/
#news {
    background-color: #a4cced12;
    width: 100%;
    padding-bottom: 20px;

}

.news--class {
    overflow-y: auto;
    height: 400px;
    list-style: none;

}


.fa-arrow-down {
    float: right;
    color: #5d6375;
}

.news--class strong {
    font-size: 24px;
}

#news h2 {
    padding-top: 10px;
    padding-bottom: 5px;
}

.article {
    padding: 5px 0;
    margin-bottom: 5px;
    margin-left: -7px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 35px;

}

.article a {
    font-size: 1.2em;
    color: #1e2432;
}

.article a:hover {
    text-decoration: none;
    color: #0f161c;
    background-color: #53627c;

}


.article a:visited {
    color: #5d6375;
}

/*Show info  when hover over news article*/
.article a[title]:hover:after {

    content: attr(title);
    padding: 4px 8px;
    color: #333;
    position: absolute;
    left: 10%;
    top: 90%;
    white-space: nowrap;
    z-index: 99999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 4px #222;
    -webkit-box-shadow: 0 0 4px #222;
    box-shadow: 0 0 4px #222;
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}


/*map-------*/
#map {
    flex-basis: 0;
    flex-grow: 4;
    height: 650px;
    width: 100%;
}

/* Styling for an info pane that slides out from the left.
    * Hidden by default. */
#panel {
    height: 600px;
    background-color: white;
    position: absolute;
    z-index: 1;
    overflow-x: hidden;
    transition: all .2s ease-out;
    border: 1px solid #000000;
}

.close-ribbon {
    position: absolute;
    float: right;
    font-size: xx-large;
    top: 5px;
    right: 10px;
    color: #fff;
    text-shadow: 1px 1px #000,
    -1px -1px #000,
    -1px 0 #000,
    0 -1px #000;
}

.close-ribbon a {
    color: #fff;
}

.open {
    width: 250px;
}

/* Styling for place details */
.hero {
    width: 100%;
    height: auto;
    max-height: 166px;
    display: block;
}

.place,
p {
    font-family: 'ROBOTO', arial, sans-serif;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 31px;
    text-align: center;
}

.details {
    color: darkslategrey;
}

a {
    text-decoration: none;
    color: cadetblue;
}

.marker--div {
    height: 40px;
    padding-right: 10px;
}

footer {
    padding: 21px 0;
    background-color: #6ac4ff;
}

@media only screen and (max-width: 768px) {
    #info-text p {
        font-size: 2.5em;
    }

    #news {
        order: 2;
    }


}

@media only screen and (max-width: 485px) {
    .navbar-brand {
        margin-bottom: 5px;
        padding-left: 5px;
    }

    .navbar-brand img {
        height: 35px;
    }

    #current-city {
        margin-top: 10px;
        margin-left: 10%;
        margin-right: 10%;
    }

    #info--message {
        height: 40px;
        font-size: 0.9em;
        align-self: center;
        text-align: center;
        margin-top: -5px;
    }

    #textPlaceHolder {
        height: 55px;
        text-align: center;
    }

    .msg {
        top: 0;
    }

    #info-text p {
        font-size: 1.5em;
    }
}

